
body {
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  padding: 0 16px 32px;
}

header {
  text-align: center;
}

header p {
  margin-top: 0;
  margin-bottom: 2rem;
}

h1 {
  margin: 0;
}

.input {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 16px;
  align-items: start;
}

.input {
  margin: 16px 0;
}

.input > .label {
  grid-column: 1 / span 1;
  grid-row: 1;
  align-self: start;
  line-height: 32px;
}

.input > .base {
  grid-column: 2 / span 1;
  grid-row: 1;
}

.input > .raw {
  grid-column: 3 / span 1;
  grid-row: 1;
}

.input > div {
  margin-bottom: 20px;
  text-align: center;
}

.cells > div {
  height: 32px;
  font-size: 12px;
}

.cells > div > div {
  height: 32px;
  width: 100%;
  line-height: 32px;
}

.cells > .textblack {
  grid-column: 8 / span 1;
  grid-row: 1;
}

.cells > .textwhite {
  grid-column: 9 / span 1;
  grid-row: 1;
}

.textblack div {
  background-color: var(--grey1);
  color: var(--textblack);
  font-size: 16px;
}

.textwhite div {
  background-color: var(--grey7);
  color: var(--textwhite);
  font-size: 16px;
}

.raw div { background-color: var(--raw); }
.base div { background-color: var(--base); }
.red div { background-color: var(--red); }
.orange div { background-color: var(--orange); }
.yellow div { background-color: var(--yellow); }
.lime div { background-color: var(--lime); }
.green div { background-color: var(--green); }
.cyan div { background-color: var(--cyan); }
.blue div { background-color: var(--blue); }
.indigo div { background-color: var(--indigo); }
.purple div { background-color: var(--purple); }
.pink div { background-color: var(--pink); }
.grey div { background-color: var(--grey); }


.variants {
  margin-top: 12px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 16px;
}

.variants > div {
  margin-bottom: 16px;
  width: calc(100/13%);
  font-size: 12px;
  text-align: center;
}

.variants > div > div {
  height: 32px;
  width: 100%;
}

.red0 div { background-color: var(--red0);}
.red1 div { background-color: var(--red1);}
.red2 div { background-color: var(--red2);}
.red3 div { background-color: var(--red3);}
.red4 div { background-color: var(--red4);}
.red5 div { background-color: var(--red5);}
.red6 div { background-color: var(--red6);}
.red7 div { background-color: var(--red7);}
.red8 div { background-color: var(--red8);}
.red9 div { background-color: var(--red9);}

.orange0 div { background-color: var(--orange0);}
.orange1 div { background-color: var(--orange1);}
.orange2 div { background-color: var(--orange2);}
.orange3 div { background-color: var(--orange3);}
.orange4 div { background-color: var(--orange4);}
.orange5 div { background-color: var(--orange5);}
.orange6 div { background-color: var(--orange6);}
.orange7 div { background-color: var(--orange7);}
.orange8 div { background-color: var(--orange8);}
.orange9 div { background-color: var(--orange9);}

.yellow0 div { background-color: var(--yellow0);}
.yellow1 div { background-color: var(--yellow1);}
.yellow2 div { background-color: var(--yellow2);}
.yellow3 div { background-color: var(--yellow3);}
.yellow4 div { background-color: var(--yellow4);}
.yellow5 div { background-color: var(--yellow5);}
.yellow6 div { background-color: var(--yellow6);}
.yellow7 div { background-color: var(--yellow7);}
.yellow8 div { background-color: var(--yellow8);}
.yellow9 div { background-color: var(--yellow9);}

.lime0 div { background-color: var(--lime0);}
.lime1 div { background-color: var(--lime1);}
.lime2 div { background-color: var(--lime2);}
.lime3 div { background-color: var(--lime3);}
.lime4 div { background-color: var(--lime4);}
.lime5 div { background-color: var(--lime5);}
.lime6 div { background-color: var(--lime6);}
.lime7 div { background-color: var(--lime7);}
.lime8 div { background-color: var(--lime8);}
.lime9 div { background-color: var(--lime9);}

.green0 div { background-color: var(--green0);}
.green1 div { background-color: var(--green1);}
.green2 div { background-color: var(--green2);}
.green3 div { background-color: var(--green3);}
.green4 div { background-color: var(--green4);}
.green5 div { background-color: var(--green5);}
.green6 div { background-color: var(--green6);}
.green7 div { background-color: var(--green7);}
.green8 div { background-color: var(--green8);}
.green9 div { background-color: var(--green9);}

.cyan0 div { background-color: var(--cyan0);}
.cyan1 div { background-color: var(--cyan1);}
.cyan2 div { background-color: var(--cyan2);}
.cyan3 div { background-color: var(--cyan3);}
.cyan4 div { background-color: var(--cyan4);}
.cyan5 div { background-color: var(--cyan5);}
.cyan6 div { background-color: var(--cyan6);}
.cyan7 div { background-color: var(--cyan7);}
.cyan8 div { background-color: var(--cyan8);}
.cyan9 div { background-color: var(--cyan9);}

.blue0 div { background-color: var(--blue0);}
.blue1 div { background-color: var(--blue1);}
.blue2 div { background-color: var(--blue2);}
.blue3 div { background-color: var(--blue3);}
.blue4 div { background-color: var(--blue4);}
.blue5 div { background-color: var(--blue5);}
.blue6 div { background-color: var(--blue6);}
.blue7 div { background-color: var(--blue7);}
.blue8 div { background-color: var(--blue8);}
.blue9 div { background-color: var(--blue9);}

.indigo0 div { background-color: var(--indigo0);}
.indigo1 div { background-color: var(--indigo1);}
.indigo2 div { background-color: var(--indigo2);}
.indigo3 div { background-color: var(--indigo3);}
.indigo4 div { background-color: var(--indigo4);}
.indigo5 div { background-color: var(--indigo5);}
.indigo6 div { background-color: var(--indigo6);}
.indigo7 div { background-color: var(--indigo7);}
.indigo8 div { background-color: var(--indigo8);}
.indigo9 div { background-color: var(--indigo9);}

.purple0 div { background-color: var(--purple0);}
.purple1 div { background-color: var(--purple1);}
.purple2 div { background-color: var(--purple2);}
.purple3 div { background-color: var(--purple3);}
.purple4 div { background-color: var(--purple4);}
.purple5 div { background-color: var(--purple5);}
.purple6 div { background-color: var(--purple6);}
.purple7 div { background-color: var(--purple7);}
.purple8 div { background-color: var(--purple8);}
.purple9 div { background-color: var(--purple9);}

.pink0 div { background-color: var(--pink0);}
.pink1 div { background-color: var(--pink1);}
.pink2 div { background-color: var(--pink2);}
.pink3 div { background-color: var(--pink3);}
.pink4 div { background-color: var(--pink4);}
.pink5 div { background-color: var(--pink5);}
.pink6 div { background-color: var(--pink6);}
.pink7 div { background-color: var(--pink7);}
.pink8 div { background-color: var(--pink8);}
.pink9 div { background-color: var(--pink9);}

.grey0 div { background-color: var(--grey0);}
.grey1 div { background-color: var(--grey1);}
.grey2 div { background-color: var(--grey2);}
.grey3 div { background-color: var(--grey3);}
.grey4 div { background-color: var(--grey4);}
.grey5 div { background-color: var(--grey5);}
.grey6 div { background-color: var(--grey6);}
.grey7 div { background-color: var(--grey7);}
.grey8 div { background-color: var(--grey8);}
.grey9 div { background-color: var(--grey9);}
