
body {
    background-color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    padding: 0 16px 32px;
}

header {
    text-align: center;
}

header p {
    margin-top: 0;
}

h1 {
    margin: 0;
}

.cells {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 16px;
}

.input {
    margin-bottom: 32px;
}

.input > div {
    grid-column: 1 / span 2;
}

.cells > div {
    margin-bottom: 20px;
    width: calc(100/13%);
    font-size: 12px;
    text-align: center;
    text-transform: capitalize;
}

.cells > div > div {
    height: 16px;
    width: 100%;
}

.base div { background-color: var(--base);}
.red div { background-color: var(--red); }
.orange div { background-color: var(--orange); }
.yellow div { background-color: var(--yellow); }
.lime div { background-color: var(--lime); }
.green div { background-color: var(--green); }
.teal div { background-color: var(--teal); }
.cyan div { background-color: var(--cyan); }
.blue div { background-color: var(--blue); }
.indigo div { background-color: var(--indigo); }
.violet div { background-color: var(--violet); }
.fuschia div { background-color: var(--fuschia); }
.pink div { background-color: var(--pink); }
.grey div { background-color: var(--grey); }
.black div { background-color: var(--black); }


.variants {
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 16px;
}

.variants > div {
    margin-bottom: 20px;
    width: calc(100/13%);
    font-size: 12px;
    text-align: center;
    text-transform: capitalize;
}

.variants > div > div {
    height: 16px;
    width: 100%;
}

.red0 div { background-color: var(--red0);}
.red1 div { background-color: var(--red1);}
.red2 div { background-color: var(--red2);}
.red3 div { background-color: var(--red3);}
.red4 div { background-color: var(--red4);}
.red5 div { background-color: var(--red5);}
.red6 div { background-color: var(--red6);}
.red7 div { background-color: var(--red7);}
.red8 div { background-color: var(--red8);}
.red9 div { background-color: var(--red9);}


