
body {background-color: #fff;}

.container {
    padding: 100px 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cells {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 16px;
}

.cells > div {
    margin-bottom: 20px;
    width: calc(100/13%);
    font-size: 12px;
    text-align: center;
    text-transform: capitalize;
}

.cells > div > div {
    height: 16px;
    width: 100%;
}

.base div { background-color: var(--base);}
.red div { background-color: var(--red); }
.orange div { background-color: var(--orange); }
.yellow div { background-color: var(--yellow); }
.lime div { background-color: var(--lime); }
.green div { background-color: var(--green); }
.teal div { background-color: var(--teal); }
.cyan div { background-color: var(--cyan); }
.blue div { background-color: var(--blue); }
.indigo div { background-color: var(--indigo); }
.violet div { background-color: var(--violet); }
.fuschia div { background-color: var(--fuschia); }
.pink div { background-color: var(--pink); }
.grey div { background-color: var(--grey); }
